main {
  padding: 0 70px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../../images/bruchetta.svg");

  min-height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 767px) {
  main {
    padding: 0;
  }
}
