.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #495E57;
}

.about p {
    color: #fff;
}

.about-left-col {
    flex: 1;
    padding-right: 20px;
    max-width: 300px;
}


.big-top-padding {
    padding-top: 40px;
}

.about-img {
    width: auto;
    height: 200px;
    margin-left: 20px;
}