.skip-link {
  position: absolute;
  top: -3em;
  background: white;
}
.skip-link:focus {
  top: 0;
}

.header {
    display: flex;
    justify-content:center;
    padding: 20px 70px;
    background-color: #EDEFEE;
    color: #333333;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        align-items: center;
    }
}