h1 {
  font-size: 40pt;
  font-family: Markazi Text, serif;
  color: #F4CE14;
}

h2 {
  font-family: Markazi Text Medium, serif;
  color: #F4CE14;
}

h3 {
  font-family: Karla Regular, sans-serif;
  font-size: 18pt;
}

label {
  font-family: Karla Regular, sans-serif;
  font-size: 16pt;
  color: #ffffff;
}

input, select {
  font-size: 16pt;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 16pt;
  padding: 10px 20px;
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

p {
  font-family: Karla Regular, sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  color: #495E57;
}

ul {
  list-style-type: none;
  padding: 0;
}