.testimony-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #898989;
}

.testimony-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimony-row p {
    margin: 0;
    width: 20vw;
}

@media screen and (max-width: 500px) {
  .testimony-row{
    flex-direction: column;
    align-items: flex-start;
  }

  .testimony-row p {
    width: 100%;
  }
}

@media screen and (max-width: 301px) {
  .testimony-card {
    width: 30vw;
    background-color: lightpink;
  }
}

@media screen and (max-width: 300px) {
  .testimony-card {
    width: 50vw;
    background-color: lightblue;
  }
}