nav {
    align-items: center;
}

.ul-horizontal {
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

.ul-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

.ul-horizontal > li > a {
    color: #333333;
}

.ul-vertical > li > a {
    color: #EDEFEE;
}

@media screen and (max-width: 767px) {
    .ul-horizontal {
        flex-flow: wrap;
        justify-content: space-evenly;
    }
    
    .ul-vertical {
        display: flex;
    }
}